@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;800;900&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
}

::-webkit-scrollbar {
    display: none;
  }